<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cat Blog</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
    <nav style="margin-bottom: 6rem;">
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/" class="header item"> Blog Site</a>
                <a href="/cats" class="item">Home</a>
                <a href="/cats/new" class="item">New Blog</a>
                <div class="right menu">
                    <%if(!currentUser){%>
                        <a class="ui item" href="/register">Sigin</a>
                        <a class="ui item" href="/login">Login</a>
                    <%}else{ %>
                        <a class="ui item" >Hello, <%=currentUser.username%></a>
                        <a class="ui item" href="/logout">Logout</a>
                    <% } %>
                </div>
            </div>

        </div>
    </nav>
